<!-- <div style="height: 800px"></div> -->

<!-- FOOTER -->
<footer class="page-footer purple darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact</h5>
        <p class="grey-text text-lighten-4"> <a href="mailto:wkalil416@gmail.com"> wkalil416@gmail.com </a><br> (786) 661-9324 </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <div style="font-size:2em; grey-text text-lighten-3 ">
            <a href="https://www.linkedin.com/in/kalilwillams/"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/kalil1"><i class="fab fa-github"></i></a>
          </ul>
        </div>
      </div>
    </div>

  </footer>

  <!-- FOOTER END -->
