

        <!-- Parallax-->
        <div class="parallax-container">
          <div class="parallax"><img src="https://images.trvl-media.com/media/content/expus/graphics/launch/home/tvly/150324_flights-hero-image_1330x742.jpg"></div>
        </div>
        <div class="section white">
          <div class="row container">
            <h2 class="header">Welcome to <a class="purple-text darken-4">TravelFever</a></h2>
            <p class="flow-text grey-text text-darken-3 lighten-3"> <div class=""> <h3 class="flow-text">
              <strong>"TravelFever"</strong> - Anxiety and anticipation tangled together, <br> the restless race of a traveler’s heart before a journey begins. </p></div>
            </h3></div>
          </div>
          <div class="parallax-container">
            <div class="parallax"><img src="https://www.travelcorporationasia.com/wp-content/uploads/2014/08/iStock_000019737739Large-2000x1250.jpg"></div>
          </div>

          <!-- end parallax -->


          <script>
          $(document).ready(function(){
            $('.parallax').parallax();
          });

        </script>
