<% @user.email %>
<% @user.checklists %>

<div class="user-show">

<div class="container">



<h1> Coming Trips </h1>

  <!-- collapsible list -->

  <div class="row">
     <div class="col s12 m6">
  <!-- <div id="list" class="">
    <div style="width:40%"> -->
      <h4>#4 days #Bahamas</h4>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="fas fa-suitcase icon"></i>Basics</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="far fa-file icon"></i> Documents</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-shower icon"></i> Toiletry</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-fire icon"></i> Camping</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-sun icon"></i> Beach</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-bicycle icon"></i> Biking</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
    </div>
  </div>

<!-- end collapsible -->


<!-- Archive Card Venice-->

<div class="row">
   <div class="col s12 m4">
     <div class="card  purple darken-4">
       <div class="card-content white-text">
         <span class="card-title">Venice 7 days</span>
         <p>Here you can see what you packed for trips you did in the past, for instance the lovley trip to Venice whit your friends from collage.</p>
       </div>
       <div class="card-action">
         <a href="#">Show</a>
       </div>
     </div>
   </div>
 </div>

 <!--End Archive Card-->

 <!-- Archive Card Venice-->

 <div class="row">
    <div class="col s12 m4">
      <div class="card  purple darken-4">
        <div class="card-content white-text">
          <span class="card-title">New York Week End</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="card-action">
          <a href="#">Show</a>
        </div>
      </div>
    </div>
  </div>

  <!--End Archive Card-->


</div>



</div>
