<p id="notice"><%= notice %></p>
<h2>List</h2>
<p>
  <strong>List name:</strong>
</p>

<h3>Items</h3>


<div class="ddd">

<h3>Add Item</h3>


</div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', checklists_path %>
