<div class="checklists-show">
<div class="container">




<h2>Destination</h2>
<%= render 'form', checklist: @checklist %>
<% link_to 'Back', checklists_path %>

<br><br>


<br><br>
<h2>Activities</h2>
<a class="waves-effect waves-light btn-large purple darken-4"><i class="material-icons left">cloud</i>GYM</a>
<a class="waves-effect waves-light btn-large purple darken-4"><i class="material-icons left">cloud</i>RUNNING</a>
<a class="waves-effect waves-light btn-large purple darken-4"><i class="material-icons left">cloud</i>SWIMMING</a>
<br><br>
<a class="waves-effect waves-light btn-large purple darken-4"><i class="material-icons left">cloud</i>BUSINESS</a>
<a class="waves-effect waves-light btn-large purple darken-4"><i class="material-icons left">cloud</i>SNOW</a>
<a class="waves-effect waves-light btn-large purple darken-4"><i class="material-icons left">cloud</i>BEACH</a>
<br><br>
<a class="waves-effect waves-light btn-large purple darken-4"><i class="material-icons left">cloud</i>HIKING</a>
<a class="waves-effect waves-light btn-large purple darken-4"><i class="material-icons left">cloud</i>DINNER</a>
<a class="waves-effect waves-light btn-large purple darken-4"><i class="material-icons left">cloud</i>CAMPING</a>





</div>
</div>
